@use "mixins" as *;

* {
  box-sizing: border-box;
}

.app {
  position: fixed;
  @include dark;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  @include small-screen {
    flex-direction: column;
  }
}

.game-container {
  width: 75%;
  height: 100%;
  @include small-screen {
    width: 100%;
    height: 75%;
  }
}

.game-info-container {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include small-screen {
    flex-direction: row;
    width: 100%;
    height: 25%;
  }
}

.score-board-container,
.game-settings-container {
  overflow: hidden;
  display: flex;
}
.game-settings-container {
  width: 100%;
  height: 75%;
  @include small-screen {
    height: 100%;
    width: 80%;
  }
}

.score-board-container {
  width: 100%;
  height: 25%;
  @include small-screen {
    height: 100%;
    width: 25%;
  }
}
